@model CoreMVC.Models.MVCQTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Questions" asp-action="Index" method="get">
    <p>
        <select asp-for="QType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.questions[0].Question_statement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questions[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questions[0].CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questions[0].Options)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questions[0].Question_type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question_statement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Options)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question_type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
